################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthCare/.vs/CopilotSnapshots/85CEC3DB41EEFA4BB1D289F4227DE39F
/HealthCare/.vs/HealthCare/CopilotIndices/18.4.79.19992
